parameters:
  level: 6
  paths:
    - src
  bootstrapFiles:
    - tests/bootstrap.php
  ignoreErrors:
    - '#Function .* not found\.#'
    - '#Constant .* not found\.#'
    - '#Class WP_.* not found\.#'
    - '#Call to method .* on an unknown class WP_.*\.#'
    - '#Property .* cannot have callable in its type declaration\.#'
    - '#Parameter .* of function array_map expects .* given\.#'
    - '#Offset .* on array.* on left side of .* does not exist\.#'
    - '#Variable .* in empty\(\) always exists and is not falsy\.#'
    - '#Method .* has parameter .* with no value type specified in iterable type array\.#'
    - '#Method .* return type has no value type specified in iterable type array\.#'
    - '#Property .* type has no value type specified in iterable type array\.#'
    - '#Method .* has parameter .* with no type specified\.#'
    - '#Property .* is never read, only written\.#'
    - '#Non-abstract class .* contains abstract method .* from interface .*\.#'
  stubFiles:
    - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php


