parameters:
  level: 6
  paths:
    - src
  ignoreErrors:
    -
      identifier: function.notFound
      path: src/*
      message: "#add_action#"
  stubFiles:
    - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php


